.all{
    margin-left: 30px;
    color: #7D7D7D;
}
.pg1cont{
    
    background-color:#F5F5F5;
}
.page1inside{
    width: 90%;
    margin-top: 20px;
    margin-left: 40px;
    padding: 5px 0px 0px 20px;
    border-radius: 20px;
    background-color: white;
}
.comA{
    width: 92%;
    margin-left:35px;
    height: 80px;
    display: inline-flex;
    justify-content: space-between;
    border-radius: 30px;
    height:40px;
    margin-top: 20px;
    padding-bottom: 20px;
    background-color: white;
}
#clr{
    background-color:#6AB4F8;
    height: 7vh;
    font-weight: 600;
    border-radius: 60vh;
    box-shadow: 0px 13px 5px rgba(0, 0, 0, 0.15);
}
.com{
    display: inline-block;
    width: 150px;
    margin-top: 1px;
    padding-top: 20px;
    padding-left: 5%;
}
.type{
    display: flex;
    width: 10vh;
}
.opt{
    width: 65vh;
    height: 8vh;
    margin-left: 5vh;
    border-radius: 10px;
    border:1px solid#7D7D7D;
    color: #7D7D7D;
   
}
.opt1{
    margin: 2%;
    width: 65vh;
    height: 8vh;
    margin-left: 5vh;
    border-radius: 10px;
    color: #7D7D7D;
    border:1px solid#7D7D7D;
    
}
.img2{
    display: inline-block;
    margin-top: 50px;
    margin-left: 50px;
    height: 8vh;
    width: 8vh;
}
.ai{
    display: inline-block;
}
.acc{
    display: flex;
    width: 100%;
}
.ac{
    display: flex;
    flex-direction: column;
    width: 700vh;
}
.btn10{
    display: inline-block;
    width: 15vh;
    border-radius: 50px;
    margin-bottom: 3vh;
}
.btn15{
    margin-right: -40vh;
    margin-left: 45vh;
    border-radius: 60px;
    width: 30vh;
    margin-top: 10vh;
}
.abc{
    display: flex;
}
.h31{
    margin-top: 8vh;
}
.two h3{
    margin-left: 30px;
    color: #7D7D7D;
}
#Price, #PropertyApproved, #PropertyDiscription{
    height:8vh;
    
}

.imgpos h3{
margin-left: 150px;
margin-top: -40px;
}
.imagecon{
    background-color: #6AB4F8;
    border-radius: 50%;
    width: 100px;
    height:100px;
    margin-top: 50px;

}
.imagecon img{
    margin-left: 25px;
    margin-top: 25px;
}
.imgpos{
    margin-top: -60px;
    margin-left: 120px;
    font-weight: 800;
}
#imgfile{
    display: none;
}